body {
    color: white;
    background: blueviolet;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(24, 7, 27);
    padding: 20px;
    font-size: 30px;
    color: rgb(39, 8, 59);
}

section {
	background: rgb(184,156,213);
	padding-bottom: 80px;
	padding-top: 80px;
	display: flex;
	justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}